apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: otp-prod
spec:
  replicas: 3
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      securityContext:
        seccompProfile:
          type: RuntimeDefault
      containers:
      - name: backend
        image: karthik26/otp-backend:aws1
        ports:
        - containerPort: 4000
        securityContext:
          allowPrivilegeEscalation: false
          runAsNonRoot: true
          runAsUser: 1000
          capabilities:
            drop:
            - ALL
        envFrom:
        - configMapRef:
            name: otp-config
        env:
        - name: DB_PASS
          valueFrom:
            secretKeyRef:
              name: otp-secrets
              key: POSTGRES_PASSWORD
        - name: JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: otp-secrets
              key: JWT_SECRET
        resources:
          requests:
            cpu: 200m
            memory: 256Mi
          limits:
            cpu: 500m
            memory: 512Mi
