apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: otp-backend
  namespace: monitoring
  labels:
    release: monitoring
spec:
  namespaceSelector:
    matchNames:
      - otp-prod
  selector:
    matchLabels:
      app: backend
  endpoints:
    - port: metrics
      path: /metrics
      interval: 30s
