apiVersion: v1
kind: Service
metadata:
  name: otp-backend
  namespace: otp-prod
  labels:
    app: otp-backend
spec:
  type: ClusterIP
  selector:
    app: backend
  ports:
    - name: http
      port: 4000
      targetPort: 4000
