apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: otp-ingress
  namespace: otp-prod
  annotations:
    kubernetes.io/ingress.class: nginx
spec:
  rules:
  - host: otp.example.com
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: frontend
            port:
              number: 80
