apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: otp-prod
spec:
  type: LoadBalancer
  selector:
    app: frontend
  ports:
  - name: http
    port: 80
    targetPort: 80
  - name: https
    port: 443
    targetPort: 443
